<div class="modal fade" id="tihvrelViewModal" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Release Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="date" class="form-control" id="tiheRecieveDate" placeholder="Recieve Date" required>
                            <label for="tiheRecieveDate">Release Date</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                <option selected>Technician</option>
                                <option value="1">Deancent</option>
                                <option value="2">Vince</option>
                                <option value="3">David</option>
                            </select>
                            <label for="floatingSelect">Released by</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
