<%- include("../partials/header") %>
<div class="container pt-1">
    <h3 class="mt-4">Warehouse Dashboard</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="/Warehouse">Warehouse Dashboard</a></li>
        </ol>
    </nav>

<%#- include("modal/mod-mat") %>
<%- include("../partials/script") %>
<%- include("../partials/flash") %>
    <script src="/js/crud.js"></script>
    <!-- <script src="/js/warehouse/mat.js"></script> -->
    <script src="/js/validation.js"></script>
<%- include("../partials/footer") %>