<body>
	<!-- ======= Header ======= -->
	<header id="header" class="header fixed-top d-flex align-items-center">

		<div class="d-flex align-items-center justify-content-between">
			<a href="/" class="logo d-flex align-items-center">
			<img src="/assets/img/logo.png" alt="">
			<!-- <span class="d-none d-lg-block">DJV IT Solutions</span> -->
			</a>
			<i class="bi bi-list toggle-sidebar-btn"></i>
		</div><!-- End Logo -->

		<div class="search-bar">
			<form class="search-form d-flex align-items-center" method="POST" action="#">
				<input type="text" name="query" placeholder="Search" title="Enter search keyword">
				<button type="submit" title="Search"><i class="bi bi-search"></i></button>
			</form>
		</div><!-- End Search Bar -->

		<nav class="header-nav ms-auto">
			<ul class="d-flex align-items-center">
				<li class="nav-item dropdown pe-3">

					<a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
						<% if (currentUser) { %>
							<% if (currentUser.role === 'admin') { %>
								<img src="/assets/img/admin.png" alt="Profile" class="rounded-circle">
							<% } else if (currentUser.role === 'technical') { %>
								<img src="/assets/img/technician.jpg" alt="Profile" class="rounded-circle">
							<% } else if (currentUser.role === 'root') { %>
								<img src="/assets/img/root.png" alt="Profile" class="rounded-circle">
							<% } else { %>
								<img src="/assets/img/default-image.png" alt="Profile" class="rounded-circle">
							<% } %>
							<span class="d-none d-md-block dropdown-toggle ps-2"><%= currentUser.username %></span>
						<% } else { %>
							<img src="/assets/img/default-image.png" alt="Profile" class="rounded-circle">
							<span class="d-none d-md-block dropdown-toggle ps-2">Guest</span>
						<% } %>
					</a><!-- End Profile Image Icon -->

					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
						<li class="dropdown-header">
							<% if (currentUser) { %>
								<h6><%= currentUser.username %></h6>
								<span id="userRole">Role: <%= currentUser.role %></span>
							<% } else { %>
								<h6>Not Logged In</h6>
								<span>Guest User</span>
							<% } %>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<% if (currentUser) { %>
							<% if (currentUser && (currentUser.role === 'root') ) { %>
								<li>
									<a class="dropdown-item d-flex align-items-center" href="">
										<i class="bi bi-person"></i>
										<!-- <span>My Profile</span> -->
										<s class="text-decoration-line-through">My Profile</s>
									</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>

								<li>
									<a class="dropdown-item d-flex align-items-center" href="">
										<i class="bi bi-gear"></i>
										<!-- <span>Account Settings</span> -->
										<s class="text-decoration-line-through">Account Settings</s>
									</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>
							<% } %>
							<li>
								<a class="dropdown-item d-flex align-items-center" href="/logout">
									<i class="bi bi-box-arrow-right"></i>
									<span>Sign Out</span>
								</a>
							</li>
						<% } else { %>
							<li>
								<a class="dropdown-item d-flex align-items-center" href="/login">
									<i class="bi bi-box-arrow-in-right"></i>
									<span>Sign In</span>
								</a>
							</li>
						<% } %>

					</ul><!-- End Profile Dropdown Items -->
				</li><!-- End Profile Nav -->

			</ul>
		</nav><!-- End Icons Navigation -->

	</header><!-- End Header -->

	<!-- ======= Sidebar ======= -->
	<aside id="sidebar" class="sidebar">

		<ul class="sidebar-nav" id="sidebar-nav">
			<!-- disable dashboard link -->
			<% if (currentUser && currentUser.role === 'root') { %>
				<li class="nav-item ">
					<a id="sbdashboard" class="nav-link collapsed disabled" href="/">
						<i class="bi bi-grid"></i>
						<s class="text-decoration-line-through">Dashboard</s>
						<!-- <span>Dashboard</span> -->
					</a>
				</li><!-- End Dashboard Nav -->
			<% } %>
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#forms-nav-transaction" data-bs-toggle="collapse" href="#">
					<i class="bi bi-journal-text"></i><span>Transaction</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="forms-nav-transaction" class="nav-content collapse" data-bs-parent="#sidebar-nav">
					<li>
						<a id="sbtransaction" class="nav-link collapsed" href="/transaction">
							<i class="bi bi-circle "></i><span>Dashboard</span>
						</a>
					</li>
					<li>
						<a id="sbinhouse" class="nav-link collapsed" href="/transaction/inhouse">
							<i class="bi bi-circle"></i><span>In-house Repair</span>
						</a>
					</li>
					<% if (currentUser && currentUser.role === 'root') { %>
						<li>
							<a id="sbonsite" class="nav-link collapsed disabled" href="/transaction/onsite">
								<!-- <i class="bi bi-circle"></i><span>On-site Repair</span> -->
								<i class="bi bi-circle"></i><s class="text-decoration-line-through">
								On-site Repair
								</s>
							</a>
						</li>
						<li>
							<a id="sbsales" class="nav-link collapsed disabled" href="/transaction/sales">
								<!-- <i class="bi bi-circle"></i><span>Sales</span> -->
								<i class="bi bi-circle"></i><s class="text-decoration-line-through">
								Sales
								</s>
							</a>
						</li>
						<li>
							<a id="sbproject" class="nav-link collapsed disabled" href="/transaction/project">
								<!-- <i class="bi bi-circle"></i><span>Contracts</span> -->
								<i class="bi bi-circle"></i><s class="text-decoration-line-through">
								Contracts
								</s>
							</a>
						</li>
					<% } %>
				</ul>
			</li><!-- End Forms Nav -->
			<% if (currentUser && (currentUser.role === 'admin' || currentUser.role === 'root')) { %>
				<li class="nav-item">
					<a id="sbClient" class="nav-link collapsed" href="/client">
						<i class="bi bi-person"></i><span>Client</span>
					</a>
				</li><!-- End Tables Nav -->
			<% } %>
			<% if (currentUser && currentUser.role === 'root') { %>
				<li class="nav-item">
					<a id="sbLeads" class="nav-link collapsed disabled" href="/leads">
						<!-- <i class="bi bi-people"></i><span>Leads</span> -->
						<i class="bi bi-people"></i><s class="text-decoration-line-through">Leads</s>
					</a>
				</li><!-- End Tables Nav -->

				<li class="nav-item">
					<a id="sbCalendar" class="nav-link collapsed disabled" href="/calendar">
						<!-- <i class="bi bi-calendar-event"></i><span>Calendar</span> -->
						<i class="bi bi-calendar-event"></i><s class="text-decoration-line-through">Calendar</s>
					</a>
				</li><!-- End Tables Nav -->

				<li class="nav-item">
					<a class="nav-link collapsed disabled" data-bs-target="#forms-nav-reports" data-bs-toggle="collapse" href="#">
						<!-- <i class="bi bi-journal-text"></i><span>Reports</span><i class="bi bi-chevron-down ms-auto"></i> -->
						<i class="bi bi-journal-text"></i><s class="text-decoration-line-through">Reports</s><i class="bi bi-chevron-down ms-auto"></i>
					</a>
					<ul id="forms-nav-reports" class="nav-content collapse" data-bs-parent="#sidebar-nav">
						<li>
							<a id="sbtransaction" class="nav-link collapsed" href="/reports">
								<i class="bi bi-circle "></i><span>Dashboard</span>
							</a>
						</li>
						<li>
							<a id="sbinhouse" class="nav-link collapsed" href="/reports/invoice">
								<i class="bi bi-circle"></i><span>Invoice</span>
							</a>
						</li>
						<li>
							<a id="sbonsite" class="nav-link collapsed" href="/reports/po">
								<i class="bi bi-circle"></i><span>Purchase Order</span>
							</a>
						</li>
						<li>
							<a id="sbsales" class="nav-link collapsed" href="/reports/quotation">
								<i class="bi bi-circle"></i><span>Quotation</span>
							</a>
						</li>
					</ul>
				</li><!-- End Forms Nav -->
			<% } %>
			<% if (currentUser && (currentUser.role === 'admin' || currentUser.role === 'root')) { %>
				<li class="nav-item">
					<a id="sbdevice" class="nav-link collapsed" href="/device">
						<i class="bi bi-laptop"></i><span>Device</span>
					</a>
				</li><!-- End Tables Nav -->
				<!-- display inventory if user is admin or root -->
				<li class="nav-item">
					<a id="sbinventory" class="nav-link collapsed" href="/inventory">
						<i class="bi bi-database-gear"></i><span>Inventory</span>
					</a>
				</li><!-- End Tables Nav -->
			<% } %>
			
			<!-- display on root -->
			<% if (currentUser && currentUser.role === 'root') { %>
				<li class="nav-item">
					<a class="nav-link collapsed" data-bs-target="#forms-nav-accounting" data-bs-toggle="collapse" href="#">
						<!-- <i class="bi bi-journal-text"></i><span>Accounting</span><i class="bi bi-chevron-down ms-auto"></i> -->
						<i class="bi bi-journal-text"></i><s class="text-decoration-line-through">Accounting</s><i class="bi bi-chevron-down ms-auto"></i>
					</a>
					<ul id="forms-nav-accounting" class="nav-content collapse" data-bs-parent="#sidebar-nav">
						<li>
							<a id="sbtransaction" class="nav-link collapsed" href="/accounting">
								<i class="bi bi-circle "></i><span>Dashboard</span>
							</a>
						</li>
						<li>
							<a id="sbinhouse" class="nav-link collapsed" href="/accounting/ledger/expenses">
								<i class="bi bi-circle"></i><span>Expenses Ledger</span>
							</a>
						</li>
						<li>
							<a id="sbonsite" class="nav-link collapsed" href="/accounting/ledger/inventory">
								<i class="bi bi-circle"></i><span>Inventory Ledger</span>
							</a>
						</li>
						<li>
							<a id="sbsales" class="nav-link collapsed" href="/accounting/ledger/invoice">
								<i class="bi bi-circle"></i><span>Invoice Ledger</span>
							</a>
						</li>
						<li>
							<a id="sbproject" class="nav-link collapsed" href="/accounting/ledger/payments">
								<i class="bi bi-circle"></i><span>Payments Ledger</span>
							</a>
						</li>
						<li>
							<a id="sbproject" class="nav-link collapsed" href="/accounting/ledger/po">
								<i class="bi bi-circle"></i><span>Purchase Order Ledger</span>
							</a>
						</li>
						<li>
							<a id="sbproject" class="nav-link collapsed" href="/accounting/ledger/quotation">
								<i class="bi bi-circle"></i><span>Quotation Ledger</span>
							</a>
						</li>
						<li>
							<a id="sbproject" class="nav-link collapsed" href="/accounting/ledger/running">
								<i class="bi bi-circle"></i><span>Running Ledger</span>
							</a>
						</li>
						<li>
							<a id="sbproject" class="nav-link collapsed" href="/accounting/ledger/sales">
								<i class="bi bi-circle"></i><span>Sales Ledger</span>
							</a>
						</li>
						<li>
							<a id="sbproject" class="nav-link collapsed" href="/accounting/ledger/service">
								<i class="bi bi-circle"></i><span>Service Ledger</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a id="sbemployees" class="nav-link collapsed disabled" href="/employees">
						<!-- <i class="bi bi-person-badge"></i><span>Employees</span> -->
						<i class="bi bi-person-badge"></i><s class="text-decoration-line-through">Employees</s>
					</a>
				</li><!-- End Tables Nav -->
	
				<li class="nav-item">
					<a id="sbsettings" class="nav-link collapsed disabled" href="/settings">
						<!-- <i class="bi bi-gear"></i><span>Settings</span> -->
						<i class="bi bi-gear"></i><s class="text-decoration-line-through">Settings</s>
					</a>
				</li><!-- End Tables Nav -->
			<% } %>
		</ul>	
	</aside><!-- End Sidebar-->