<!-- create transaction modal -->
<!-- prefix t - transaction -->
<div class="modal fade" id="tCreateModal" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Transaction</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="tCreateForm" novalidate enctype="multipart/form-data">
                    <div class="input-group mb-3 input-group-sm">
                        <label class="input-group-text" for="tTypeGroup">Transaction Type</label>
                        <select class="form-select" id="tTypeGroup" required>
                            <option selected></option>
                            <option value="Inhouse">In-house</option>
                            <!-- <option value="Onsite">On-site</option> -->
                            <!-- <option value="Sales">Sales</option> -->
                            <!-- <option value="Projects">Projects</option> -->
                        </select>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="tTicketNameLbl">Ticket Name</span>
                        <input type="text" class="form-control" id="tTicketName" aria-label="Brand" aria-describedby="tTicketNameLbl" required>
                    </div>
                    <div class="form-check form-switch d-flex ">
                        <input class="form-check-input ms-auto me-1" type="checkbox" id="tAutoTicketNumber" checked>
                        <label class="form-check-label" for="tAutoTicketNumber">Auto Ticket Number</label>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="tTicketNumberLbl">Ticket Number</span>
                        <input type="text" class="form-control" id="tTicketNumber" aria-label="Brand" aria-describedby="tTicketNumberLbl" required>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <input type="hidden" id="tClientID">
                        <span class="input-group-text">Client</span>
                        <input class="form-control" list="tClientList" id="tClient" placeholder="Type to search client..." required>
                        <datalist id="tClientList">
                        </datalist>
                        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#cCreateModal">Create</button>
                    </div>
                    <div class="form-check form-switch d-flex ">
                        <input class="form-check-input ms-auto me-1" type="checkbox" id="tToday" checked>
                        <label class="form-check-label" for="tToday">Today</label>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="tReceivedDateLbl">Recieved Date</span>
                        <input type="date" class="form-control" id="tReceivedDate" aria-label="Brand" aria-describedby="tReceivedDateLbl" required>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="tPersonelLbl">Personel</span>
                        <input type="text" class="form-control" id="tPersonel" aria-label="Brand" aria-describedby="tPersonelLbl" required>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <input type="hidden" id="tDeviceID">
                        <span class="input-group-text">Device</span>
                        <input class="form-control" list="tDeviceList" id="tDevice" placeholder="Type to search device..." disabled required>
                        <datalist id="tDeviceList">
                        </datalist>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm">Create Transaction</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
        