<div class="modal fade" id="tihEditModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit In-House Transaction</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="tihEdit" novalidate enctype="multipart/form-data">
                    <input type="hidden" id="tiheId">
                    <input type="hidden" id="tiheClientOldId">
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="tiheJobOrderNumber" placeholder="Job Order Number" required>
                                <label for="tiheJobOrderNumber">*Job Order Number</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="date" class="form-control" id="tiheRecieveDate" placeholder="Recieve Date" required>
                                <label for="tiheRecieveDate">*Receive Date</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <select class="form-select" id="tiheRecievedBy" aria-label="Recieved By" required>
                                    <option>Employee</option>
                                    <option value="Kat">Kat</option>
                                    <option value="Deancent">Deancent</option>
                                    <option value="Vince">Vince</option>
                                    <option value="David">David</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="tiheClientName" aria-label="Client Name" required>
                                <option>Please select</option>
                            </select>
                            <label for="tiheClientName">*Client Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="tiheDevice" placeholder="Device" required>
                                <label for="tiheDevice">*Device (Brand / Model)</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="tiheSerial" placeholder="Serial Number" required>
                                <label for="tiheSerial">*Serial Number</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <p class="my-3">Notes</p>
                            <div id="tiheNotes">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
        