<div class="modal fade" id="tihReadModal" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">In-House Transaction</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <div class="ms-5 ms-5 my-1">
                        <strong>Job Order Number: </strong>
                        <span id="tihrJobOrderNumber"></span>
                    </div>
                    <div class="ms-5 my-1">
                        <strong>Recieved Date: </strong>
                        <span id="tihrRecievedDate"></span>
                    </div>

                    <div class="ms-5 my-1">
                        <strong>Recieved By: </strong>
                        <span id="tihrReceivedBy"></span>
                    </div>

                    <div class="ms-5 my-1">
                        <strong>Client Name: </strong>
                        <span id="tihrClientName"></span>
                    </div>
                    <div class="ms-5 my-1">
                        <strong>Device: </strong>
                        <span id="tihrDevice"></span>
                    </div>
                    <div class="ms-5 my-1">
                        <strong>Serial: </strong>
                        <span id="tihrSerial"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="reset" data-bs-dismiss="modal" id="tihrEdit" class="btn btn-success" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#tihEditModal">Edit Transaction</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
        