<!-- tihvbpay = Transaction Inhouse View Billing Payment -->
<div class="modal fade" id="tihvbpayAddModal" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Payment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="tihvbpayAdd" novalidate enctype="multipart/form-data">
                    <!-- tihvbpay = Transaction Inhouse View Billing Payment -->
                    <div class="mb-3">
                        <label for="tihvbpayDate" class="form-label">Date</label>
                        <input type="date" class="form-control" id="tihvbpayDate" required>
                    </div>
                    <div class="mb-3">
                        <label for="tihvbpayDescription" class="form-label">Description</label>
                        <input type="text" class="form-control" id="tihvbpayDescription" required>
                    </div>
                    <div class="mb-3">
                        <label for="tihvbpayAmount" class="form-label">Amount</label>
                        <input type="text" class="form-control" id="tihvbpayAmount" required>
                    </div>

                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
