<!-- tihvbt = Transaction Inhouse View Billing Transportation -->
<div class="modal fade" id="tihvbtAddModal" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Transportation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="tihvbtAdd" novalidate enctype="multipart/form-data">
                    <!-- tihvbt = Transaction Inhouse View Billing transportation Add  -->
                    <div class="mb-3">
                        <label for="tihvbtDescription" class="form-label">Description</label>
                        <input type="text" class="form-control" id="tihvbtDescription" required>
                    </div>
                    <div class="mb-3">
                        <label for="tihvbtPrice" class="form-label">Price</label>
                        <input type="text" class="form-control" id="tihvbtPrice" required>
                    </div>

                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
