<!-- tihvbiis = Transaction Inhouse View Billing Item Information Serial -->
<div class="modal fade" id="tihvbiisAddModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Parts</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="tihvbiisAdd" novalidate enctype="multipart/form-data">
                    <!-- tihvbpa = Transaction Inhouse View Billing Parts Add -->
                    <h6 class="card-title">Item Information</h6>
                    
                    <table id="tihvbiisItemInformationTable">
                        <thead>
                            <th data-visible="false" >Id</th>
                            <th>Description</th>
                            <th>Brand</th>
                            <th>Model</th>
                        </thead>
                    </table>
                    <hr>
                    <h6 class="card-title">Serial List</h6>
                    
                    <table id="tihvbiisSerialTable">
                        <thead>
                            <th data-visible="false">Id</th>
                            <th>Serial</th>
                            <th>Description</th>
                        </thead>
                    </table>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
