<!-- tihvbp = Transaction Inhouse View Billing Parts -->
<div class="modal fade" id="tihvbpAddModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Parts</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="psCreate" novalidate enctype="multipart/form-data">
                    <!-- tihvbpai = Transaction Inhouse View Billing Parts Add Item -->
                    <table id="tihvbpaiTable">
                        <thead>
                            <th>Description</th>
                            <th>Brand</th>
                            <th>Model</th>
                        </thead>
                    </table>

                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
