<div class="modal fade" id="tosCreateModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create On-Site Transaction</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="tosCreate" novalidate enctype="multipart/form-data">
                    <div class="mb-3 d-flex justify-content-between">
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="toscJobOrderNumber" placeholder="Job Order Number" required>
                                <label for="toscJobOrderNumber">*Job Order Number</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="date" class="form-control" id="toscRecieveDate" placeholder="Recieve Date" required>
                                <label for="toscRecieveDate">*Receive Date</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="toscClientName" aria-label="Client Name" required>
                                <option>Please select</option>
                            </select>
                            <label for="toscClientName">*Client Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="toscDevice" placeholder="Device" required>
                                <label for="toscDevice">*Device (Brand / Model)</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="toscSerial" placeholder="Serial Number" required>
                                <label for="toscSerial">*Serial Number</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <p class="my-3">Notes</p>
                            <!-- <div id="toscNotes" class="quill-editor-full"> -->
                            <div id="toscNotes">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
        