<div class="modal fade" id="tihvrViewModal" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Repair Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="tab-pane active profile-overview" id="profile-overview">
                    <div class="row">
                        <div class="col-md-4 label">Job Order:</div>
                        <div id="tihvrJobOrder" class="col-md-8">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 label">Recieved Date:</div>
                        <div id="tihvrRecieveDate" class="col-md-8">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 label">Device:</div>
                        <div id="tihvrDevice" class="col-md-8">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 label">Serial Number:</div>
                        <div id="tihvrSerial" class="col-md-8">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 label">Technician:</div>
                        <div id="tihvrTechnician" class="col-md-8">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="tihvRepairEdit" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#tihvrEditModal"> 
                        <i class="bi bi-pencil-square"></i>
                        Edit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
