
<!-- iii = Inventory item Information -->
<div class="modal fade" id="iiiCreateModal" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Parts Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="iiiCreate" novalidate enctype="multipart/form-data">
                    <div class="row g-3 mb-1 align-items-center">
                        <div class="col-auto">
                            <label for="iiiProfile" class="col-form-label">Image</label>
                        </div>
                        <div class="col-10">
                            <input type="file" id="iiiProfile" class="form-control">
                        </div>
                    </div>
                    <div class="row g-3 mb-1 align-items-center">
                        <div class="col-auto">
                            <label for="iiiBrand" class="col-form-label">Brand</label>
                        </div>
                        <div class="col-10">
                            <input type="text" id="iiiBrand" class="form-control">
                        </div>
                    </div>
                    <div class="row g-3 mb-1 align-items-center">
                        <div class="col-auto">
                            <label for="iiiModel" class="col-form-label">Model</label>
                        </div>
                        <div class="col-10">
                            <input type="text" id="iiiModel" class="form-control">
                        </div>
                    </div>
                    <div class="row g-3 mb-1 align-items-center">
                        <div class="col-auto">
                            <label for="iiiDescription" class="col-form-label">Description</label>
                        </div>
                        <div class="col-9">
                            <textarea type="text" id="iiiDescription" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

