<!-- toast -->
<div class="jq-toast-wrap">
</div>

<script>
    //toast
    // function toaster(icon,header,text,beforeShow,afterHidden){
    function toaster(param){
        // please fix after shown. kailangan ung after hidden eto ung mag run
        // kc para hindi na mag antay ung client ng matagal para mag refresh.
        // gagamit ka lang ng after hidden kapag lilipat ng page
        // afterShown: function () {}, 
        var toastParam = {
            text: param.text, // Text that is to be shown in the toast
            heading: param.header, // Optional heading to be shown on the toast
            //warning, success, error, info
            icon: param.icon, // Type of toast icon
            showHideTransition: 'slide', // fade, slide or plain
            allowToastClose: true, // Boolean value true or false
            hideAfter: 3000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
            stack: 5, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
            position: 'bottom-right', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
            textAlign: 'left',  // Text alignment i.e. left, right or center
            loader: true  // Whether to show loader or not. True by default
        }

        //if beforeShow is NOT available and afterHidden is NOT available
        if (param.beforeShow == undefined && param.afterHidden == undefined){
            $.toast(toastParam)
        } else {
            // if beforeShow is available and afterHidden is avaliable
            if (param.beforeShow !== undefined && param.afterHidden !== undefined){
                toastParam.beforeShow = param.beforeShow
                toastParam.afterHidden = param.afterHidden
                $.toast(toastParam)
            } else { // 
                //if beforeShow is available and afterHidden is NOT available
                if (param.beforeShow !== undefined){
                    toastParam.beforeShow = param.beforeShow
                    $.toast(toastParam)
                } else { // if beforeShow is NOT available and afterHidden is available
                    toastParam.afterHidden = param.afterHidden
                    $.toast(toastParam)
                }
            }
        }
    }
</script>