<%- include("../partials/header") %>
<%- include("../partials/header-sidebar") %>
    <main id="main" class="main">

        <div class="pagetitle">
        <h1>Transactions</h1>
        <nav>
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Transactions</li>
            </ol>
        </nav>
        </div><!-- End Page Title -->
        
        <section class="section">
            <div class="row">
              <div class="col-lg-6">
      
                <div class="card">
                  <div class="card-body">
                    <a href="/transaction/inhouse">
                      <h5 class="card-title">In-house</h5>
                    </a>
                    <div class="col-lg-12">
                        <div class="d-flex flex-column">
                          <button type="button" class="btn btn-success mb-2">
                            Completed <span class="badge bg-white text-success">4</span>
                          </button>
                          <button type="button" class="btn btn-primary mb-2">
                            On-going <span class="badge bg-white text-primary">4</span>
                          </button>
                          <button type="button" class="btn btn-warning mb-2">
                            Pending <span class="badge bg-white text-warning">4</span>
                          </button>
                          <button type="button" class="btn btn-danger mb-2">
                            Over Due <span class="badge bg-white text-danger">4</span>
                          </button>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <a href="/transaction/onsite">
                      <h5 class="card-title">On-Site</h5>
                    </a>
                    <div class="d-flex flex-column">
                      <button type="button" class="btn btn-success mb-2">
                        Completed <span class="badge bg-white text-success">4</span>
                      </button>
                      <button type="button" class="btn btn-primary mb-2">
                        On-going <span class="badge bg-white text-primary">4</span>
                      </button>
                      <button type="button" class="btn btn-warning mb-2">
                        Pending <span class="badge bg-white text-warning">4</span>
                      </button>
                      <button type="button" class="btn btn-danger mb-2">
                        Over Due <span class="badge bg-white text-danger">4</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
      
                <div class="card">
                  <div class="card-body">
                    <a href="/transaction/sales">
                      <h5 class="card-title">Sales</h5>
                    </a>
                    <div class="col-lg-12">
                        <div class="d-flex flex-column">
                          <button type="button" class="btn btn-success mb-2">
                            Completed <span class="badge bg-white text-success">4</span>
                          </button>
                          <button type="button" class="btn btn-primary mb-2">
                            On-going <span class="badge bg-white text-primary">4</span>
                          </button>
                          <button type="button" class="btn btn-warning mb-2">
                            Pending <span class="badge bg-white text-warning">4</span>
                          </button>
                          <button type="button" class="btn btn-danger mb-2">
                            Over Due <span class="badge bg-white text-danger">4</span>
                          </button>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <a href="/transaction/project">
                      <h5 class="card-title">Project Base</h5>
                    </a>
                    <div class="d-flex flex-column">
                      <button type="button" class="btn btn-success mb-2">
                        Completed <span class="badge bg-white text-success">4</span>
                      </button>
                      <button type="button" class="btn btn-primary mb-2">
                        On-going <span class="badge bg-white text-primary">4</span>
                      </button>
                      <button type="button" class="btn btn-warning mb-2">
                        Pending <span class="badge bg-white text-warning">4</span>
                      </button>
                      <button type="button" class="btn btn-danger mb-2">
                        Over Due <span class="badge bg-white text-danger">4</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
    </main><!-- End #main -->
<%- include("../partials/script") %>
<%- include("../partials/footer") %>