<!--    // ============================================================
        // Create client w/o contact person modal
        // ============================================================ -->

<div class="modal fade" id="modCrtClntWoCP" tabindex="-1" role="dialog" aria-labelledby="modCrtClntWoCPLbl" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-md-down" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modCrtClntWoCPLbl">Create Client</h5>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form  id="crtClntWoCP" class="needs-validation" novalidate>
                    <input type="hidden" minlength="1" id="crtClntWoCPTypeID">
                    <input type="hidden" minlength="1" id="crtClntWoCPTypewContPer">
                    <div class="input-group input-group-sm my-1">
                        <span class="input-group-text col-2 d-flex justify-content-center" id="crtClntWoCPTypeLbl">Client Type</span>
                        <input type="text" class="form-control" id="crtClntWoCPType" minlength="1" aria-describedby="crtClntWoCPTypeLbl" disabled>
                    </div>
                    <div class="input-group input-group-sm my-1">
                        <span class="input-group-text col-2 d-flex justify-content-center" id="crtClntWoCPFistNmLbl">First Name</span>
                        <input type="text" class="form-control" id="crtClntWoCPFistNm" minlength="1" aria-describedby="crtClntWoCPFistNmLbl" required>
                    </div>
                    <div class="input-group input-group-sm my-1">
                        <span class="input-group-text col-2 d-flex justify-content-center" id="crtClntWoCPLastNmLbl">Last Name</span>
                        <input type="text" class="form-control" id="crtClntWoCPLastNm" minlength="1" aria-describedby="crtClntWoCPLastNmLbl" required>
                    </div>
                    <div class="input-group input-group-sm my-1">
                        <span class="input-group-text col-2 d-flex justify-content-center" id="crtClntWoCPAddLbl">Address</span>
                        <input type="text" class="form-control w-50" id="crtClntWoCPAdd" minlength="1" aria-describedby="crtClntWoCPAddLbl" required>
                        <label class="input-group-text col-1 d-flex justify-content-center" for="crtClntWoCPAddTypeOpt">Type</label>
                        <select class="form-select" id="crtClntWoCPAddTypeOpt" disabled>
                        </select>
                    </div>
                    <div>
                        <!-- dynamic input of contact before the button -->
                        <a id="crtClntWoCPContAdd" class="btn btn-primary btn-sm d-flex justify-content-center">Add Contact</a>
                    </div>
                    <!-- ============================================= -->
                    <div class="input-group input-group-sm my-1">
                        <span class="input-group-text col-2 justify-content-center" id="crtClntWoCPOtherDetLbl">Other Details</span>
                        <textarea class="form-control" id="crtClntWoCPOtherDet" minlength="1" aria-describedby="crtClntWoCPOtherDetLbl"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success btn-sm">Create Client</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>