<!--    // ============================================================
        // Create client Type
        // ============================================================ -->
<div class="modal fade" id="modCrtClntType" tabindex="-1" role="dialog" aria-labelledby="modCrtClntTypeLbl" aria-hidden="true">
    <div class="modal-dialog modal-md modal-fullscreen-md-down" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modCrtClntTypeLbl">Client Type</h5>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="crtClntType" class="needs-validation" novalidate>
                    <div class="input-group input-group-sm my-1">
                        <label class="input-group-text col-2 d-flex justify-content-center" for="crtClntTypeOpt">Client Type</label>
                        <select class="form-select" id="crtClntTypeOpt" required>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm">Proceed</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>