<div class="modal fade" id="tihCreateModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create In-House Transaction</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="tihCreate" novalidate enctype="multipart/form-data">
                    <div class="mb-3 d-flex justify-content-between">
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="tihcJobOrderNumber" placeholder="Job Order Number" required>
                                <label for="tihcJobOrderNumber">*Job Order Number</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="date" class="form-control" id="tihcRecieveDate" placeholder="Recieve Date" required>
                                <label for="tihcRecieveDate">*Recieve Date</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="tihcClientName" aria-label="Client Name" required>
                                <option>Please select</option>
                            </select>
                            <label for="tihcClientName">*Client Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="tihcDevice" placeholder="Device" required>
                                <label for="tihcDevice">*Device (Brand / Model)</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="tihcSerial" placeholder="Serial Number" required>
                                <label for="tihcSerial">*Serial Number</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <p class="my-3">Notes</p>
                            <!-- <div id="tihcNotes" class="quill-editor-full"> -->
                            <div id="tihcNotes">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
        