<div class="modal fade" id="tihvPrintModal" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Print Report</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center flex-column">
                    <button class="btn btn-success m-3">Initial Report</button>
                    <button class="btn btn-success m-3">Status Report</button>
                    <button class="btn btn-success m-3">Final Report Report</button>
                </div>
            </div>
        </div>
    </div>
</div>
        