<!-- dc - device Create -->
<div class="modal fade" id="diCreateModal" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Device Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="dCreateDevice" novalidate enctype="multipart/form-data">
                    <div class="form-check form-switch d-flex ">
                        <input class="form-check-input ms-auto me-1" type="checkbox" id="dcAutoCodeNumber" checked>
                        <label class="form-check-label" for="dcAutoCodeNumber">Auto Code Number</label>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="dcCodeLbl">Code</span>
                        <input type="text" class="form-control" id="dcCode" aria-label="Brand" aria-describedby="dcCodeLbl" required disabled>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <input type="hidden" id="dcClientId">
                        <span class="input-group-text">Client</span>
                        <input class="form-control" list="dcClientList" id="dcClient" placeholder="Type to search client..." required>
                        <datalist id="dcClientList" style="width: 100%;">
                        </datalist>
                        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#cCreateModal" id="dcClientCreate">Create</button>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="dcTypeLbl">Type</span>
                        <input type="text" class="form-control" id="dcType" aria-label="Brand" aria-describedby="dcTypeLbl" required>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="dcBrandLbl">Brand</span>
                        <input type="text" class="form-control" id="dcBrand" aria-label="Brand" aria-describedby="dcBrandLbl" required>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="dcModelLbl">Model</span>
                        <input type="text" class="form-control" id="dcModel" aria-label="Model" aria-describedby="dcModelLbl" required>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="dcSerialLbl">Serial</span>
                        <input type="text" class="form-control" id="dcSerial" aria-label="Serial" aria-describedby="dcSerialLbl" required>
                        <div class="input-group-text">
                            <input class="form-check-input mt-0 me-1" id="dcNoSerial" type="checkbox" value="">No Serial
                        </div>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="dcNameLbl">Name</span>
                        <input type="text" class="form-control" id="dcName" aria-label="Brand" aria-describedby="dcNameLbl" required>
                        <div class="input-group-text">
                            <input class="form-check-input mt-0 me-1" type="checkbox" id="dcDefaultName" value="">Default Name
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

