<div class="modal fade" id="eEditEmployee" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Employee Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form class="accordion mt-3" id="eieModal">
                    <div class="accordion-item">

                        <!--================== PERSONAL DATA ACCORDION =========================-->
                        <h2 class="accordion-header" id="personalDataHeading">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#personalDataCollapse" aria-expanded="true" >
                                Personal Data
                            </button>
                            <div class="accordion-item">
                                <div id="personalDataCollapse" class="collapse " data-bs-parent="#personalDataAccordion">
                                    <div class="accordion-body">
                                        <div class="tab-content" id="myTabContent">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <label style="font-size: 0.875rem;">Name</label>
                                                    <input type="text" class="form-control " id="eieName" placeholder="Name">
                                                </div>
                                                <div class="col-4">
                                                    <label for="eiJob" style="font-size: 0.875rem;">Job</label>
                                                    <input type="text" class="form-control" id="eieJob" placeholder="Job">
                                                </div>
                                            </div>
                                            <div class="input-group my-3 eiAddress">
                                                <span class="input-group-text">Address</span>
                                                <input id="eieAddress" type="text" class="form-control eiAddress" required>
                                                <button class="btn btn-success eiAddressAdd" type="button"><i class="bi bi-plus-square"></i></button>
                                                <button class="btn btn-danger eiAddressDelete" type="button"><i class="bi bi-trash"></i></button>
                                            </div>
                                            <div class="input-group my-3 eiContactNumber">
                                                <span class="input-group-text">Contact Number</span>
                                                <input id="eieContactNumber" type="number" class="form-control eiContactNumber" required>
                                                <button class="btn btn-success eiContactNumberAdd" type="button"><i class="bi bi-plus-square"></i></button>
                                                <button class="btn btn-danger eiContactNumberDelete" type="button"><i class="bi bi-trash"></i></button>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-3">
                                                    <label for="eiPlaceofBirth" style="font-size: 0.875rem;">Place of Birth</label>
                                                    <input type="text" class="form-control" id="eiePlaceofBirth" placeholder="Place of Birth">
                                                </div>
                                                <div class="col-3">
                                                    <label for="eiDateofBirth" style="font-size: 0.875rem;">Date of Birth</label>
                                                    <input type="date" class="form-control" id="eieDateofBirth" placeholder="">
                                                </div>
                                                <div class="col-2">
                                                    <label for="eiAge" style="font-size: 0.875rem;">Age</label>
                                                    <input type="number" class="form-control" id="eieAge" placeholder="Age">
                                                </div>
                                                
                                                <div class="col-2">
                                                    <label for="eiHeight" style="font-size: 0.875rem;">Height</label>
                                                    <input type="number" class="form-control" id="eieHeight" placeholder="Height">
                                                </div>
                                                <div class="col-2">
                                                    <label for="eiWeight" style="font-size: 0.875rem;">Weight</label>
                                                    <input type="number" class="form-control" id="eieWeight" placeholder="Height">
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-3">
                                                    <label for="eiReligion" style="font-size: 0.875rem;">Religion</label>
                                                    <input type="text" class="form-control" id="eieReligion" placeholder="Religion">
                                                </div>
                                                <div class="col-3">
                                                    <label for="eiCitizenship" style="font-size: 0.875rem;">Citizenship</label>
                                                    <input type="text" class="form-control" id="eieCitizenship" placeholder="Citizenship">
                                                </div>
                                                <div class="col-3">
                                                    <label for="eiCivilStatus" style="font-size: 0.875rem;">Civil Status</label>
                                                    <select class="form-control" id="eieCivilStatus">
                                                        <option value="" disabled selected>Select status</option>
                                                        <option value="Single">Single</option>
                                                        <option value="Married">Married</option>
                                                        <option value="Divorced">Divorced</option>
                                                        <option value="Widowed">Widowed</option>
                                                    </select>
                                                </div>
                                                <div class="col-3">
                                                    <label for="eiGender" style="font-size: 0.875rem;">Gender</label>
                                                    <select class="form-control" id="eieGender">
                                                        <option value="" disabled selected>Select Gender</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                        <option value="Other">Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-4">
                                                    <label for="eiSpouse" style="font-size: 0.875rem;">Spouse</label>
                                                    <input type="text" class="form-control" id="eieSpouse" placeholder="Spouse">
                                                </div>
                                                <div class="col-8">
                                                    <label for="eiChildrenNames" style="font-size: 0.875rem;">Children</label>
                                                    <input type="text" class="form-control" id="eieChildrenNames" placeholder="Children">
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <label for="eiFatherName" style="font-size: 0.875rem;">Father's Name</label>
                                                    <input type="text" class="form-control" id="eieFatherName" placeholder="Father's name">
                                                </div>
                                                <div class="col-4">
                                                    <label for="eiFatherOccupation" style="font-size: 0.875rem;">Occupation</label>
                                                    <input type="text" class="form-control" id="eieFatherOccupation" placeholder="Occupation">
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <label for="eiMotherName" style="font-size: 0.875rem;">Mother's Name</label>
                                                    <input type="text" class="form-control" id="eieMotherName" placeholder="Mother's Name">
                                                </div>
                                                <div class="col-4">
                                                    <label for="eiChildrenNames" style="font-size: 0.875rem;">Occupation</label>
                                                    <input type="text" class="form-control" id="eieChildrenNames" placeholder="Occupation">
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-9">
                                                    <label for="eiParentAddress" style="font-size: 0.875rem;">Parent's Address</label>
                                                    <input type="text" class="form-control" id="eieParentAddress" placeholder="Parent's Address">
                                                </div>
                                                <div class="col-3">
                                                    <label for="eiParentContactNumber" style="font-size: 0.875rem;">Contact number</label>
                                                    <input type="number" class="form-control" id="eieParentContactNumber" placeholder="Contact number">
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <label for="eiContactPersonName" style="font-size: 0.875rem;">Contact Person</label>
                                                    <input type="text" class="form-control" id="eieContactPersonName" placeholder="Contact Person Name">
                                                </div>
                                                <div class="col-4">
                                                    <label for="eiContactPersonNumber" style="font-size: 0.875rem;">Contact Person Number</label>
                                                    <input type="number" class="form-control" id="eieContactPersonNumber" placeholder="Contact Person number">
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-12">
                                                    <label for="eiContactPersonAddress" style="font-size: 0.875rem;">Contact Address</label>
                                                    <input type="text" class="form-control" id="eieContactPersonAddress" placeholder="Contact Person Address">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </h2><!-- end of PERSONAL DATA ACCORDION -->

                        <!--================== EDUCATIONAL BACKGROUND ACCORDION =========================-->
                        <h2 class="accordion-header" id="educationalBackgroundHeading">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#educationalBackgroundCollapse" aria-expanded="false" aria-controls="educationalBackgroundCollapse">
                                Educational Background
                            </button>
                            <div class="accordion-item">
                                <div id="educationalBackgroundCollapse" class="collapse " data-bs-parent="#profileInformationAccordion">
                                    <div class="accordion-body">
                                        <div class="tab-content" id="myTabContent">
    
                                            <div class="row align-items-center">
                                                <div class="col-6">
                                                    <label for="eiElementaryName" style="font-size: 0.875rem;">Elementary</label>
                                                    <input type="text" class="form-control" id="eieElementaryName" placeholder="School Name">
                                                </div>
                                                <div class="col-6">
                                                    <label for="eiElementaryAddress" style="font-size: 0.875rem;">Address</label>
                                                    <input type="text" class="form-control" id="eieElementaryAddress" placeholder="Address">
                                                </div>
                                            </div>
    
                                            <div class="row align-items-center">
                                                <div class="col-6">
                                                    <label for="eiJuniorHighSchoolName" style="font-size: 0.875rem;">Junior Highschool</label>
                                                    <input type="text" class="form-control" id="eieJuniorHighSchoolName" placeholder="School Name">
                                                </div>
                                                <div class="col-6">
                                                    <label for="eiJuniorHighSchoolAddress" style="font-size: 0.875rem;">Address</label>
                                                    <input type="text" class="form-control" id="eieJuniorHighSchoolAddress" placeholder="Address">
                                                </div>
                                            </div>
    
                                            <div class="row align-items-center">
                                                <div class="col-6">
                                                    <label for="eiSeniorHighSchoolName" style="font-size: 0.875rem;">Senior Highschool</label>
                                                    <input type="text" class="form-control" id="eieSeniorHighSchoolName" placeholder="School Name">
                                                </div>
                                                <div class="col-6">
                                                    <label for="eiSeniorHighSchoolAddress" style="font-size: 0.875rem;">Address</label>
                                                    <input type="text" class="form-control" id="eieSeniorHighSchoolAddress" placeholder="Address">
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-6">
                                                    <label for="eiCollegeName" style="font-size: 0.875rem;">College</label>
                                                    <input type="text" class="form-control" id="eieCollegeName" placeholder="School Name">
                                                </div>
                                                <div class="col-6">
                                                    <label for="eiCollegeAddress" style="font-size: 0.875rem;">Address</label>
                                                    <input type="text" class="form-control" id="eieCollegeAddress" placeholder="Address">
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-12">
                                                    <label for="eiCourseName" style="font-size: 0.875rem;">College Course</label>
                                                    <input type="text" class="form-control" id="eieCourseName" placeholder="School Name">
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </h2><!-- end of EDUCATIONAL BACKGROUND ACCORDION -->

                        <!--================== EMPLOYMENT RECORD ACCORDION =========================-->
                        <h2 class="accordion-header" id="employeeRecordHeading">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#employeeRecordCollapse" aria-expanded="false" aria-controls="educationalBackgroundCollapse">
                                Employee Record
                            </button>
                            <div class="accordion-item">
                                <div id="employeeRecordCollapse" class="collapse " data-bs-parent="#profileInformationAccordion">
                                    <div class="accordion-body">
                                        <div class="tab-content justify-content-evenly" id="myTabContent">
                                            
                                            <div class="row align-content-end ">
                                                <div class="col-xl-3">
                                                    <label for="eiPreferenceName" style="font-size: 0.875rem;">Company</label>
                                                    <input type="text" class="form-control" id="eieCompanyName" placeholder="Name">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="eiPreferenceOccupation" style="font-size: 0.875rem;">Position</label>
                                                    <input type="text" class="form-control" id="eiePreferenceOccupation" placeholder="Job">
                                                </div>
                                                <!-- ==== er: Employment Record ========== -->
                                                <div class="col-xl-2">
                                                    <label for="eierFrom" style="font-size: 0.875rem;">From</label>
                                                    <input type="date" class="form-control" id="eieerFrom" placeholder="Job">
                                                </div>
                                                <!-- ==== er: Employment Record ========== -->
                                                <div class="col-xl-2">
                                                    <label for="eierTo" style="font-size: 0.875rem;">To</label>
                                                    <input type="date" class="form-control" id="eieerTo" placeholder="Job">
                                                </div>
                                                
                                                <div class="col-xl-2 align-content-end">
                                                    <div class="d-flex justify-content-center">
                                                        <button class="btn btn-success eiAddressAdd" type="button"><i class="bi bi-plus-square"></i></button>
                                                        <button class="btn btn-danger eiAddressDelete" type="button"><i class="bi bi-trash"></i></button>
                                                    </div>
                                                    
                                                </div>
                                                
                                            </div>
    
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </h2><!-- end of EMPLOYMENT RECORD ACCORDION -->

                        <!--================== CHARACTER REFERENCE ACCORDION =========================-->
                        <h2 class="accordion-header" id="characterReferenceHeading">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#characterReferenceCollapse" aria-expanded="false" aria-controls="educationalBackgroundCollapse">
                                Character Reference
                            </button>
                            <div class="accordion-item">
                                <div id="characterReferenceCollapse" class="collapse " data-bs-parent="#profileInformationAccordion">
                                    <div class="accordion-body">
                                        <div class="tab-content" id="myTabContent">
    
                                            <div class="row align-content-end ">
                                                <div class="col-xl-4">
                                                    <label for="eiPreferenceName" style="font-size: 0.875rem;">Name</label>
                                                    <input type="text" class="form-control" id="eieCompanyName" placeholder="Name">
                                                </div>
                                                <div class="col-xl-4">
                                                    <label for="eiPreferenceOccupation" style="font-size: 0.875rem;">Occupation</label>
                                                    <input type="text" class="form-control" id="eiePreferenceOccupation" placeholder="Job">
                                                </div>
                                                <div class="col-xl-2">
                                                    <label for="eiPreferenceContact" style="font-size: 0.875rem;">Contact</label>
                                                    <input type="number" class="form-control" id="eiePreferenceContact" placeholder="Job">
                                                </div>
                                                
                                                <div class="col-xl-2 align-content-end">
                                                    <div class="d-flex justify-content-center">
                                                        <button class="btn btn-success eiAddressAdd" type="button"><i class="bi bi-plus-square"></i></button>
                                                        <button class="btn btn-danger eiAddressDelete" type="button"><i class="bi bi-trash"></i></button>
                                                    </div>
                                                    
                                                </div>
                                                
                                            </div>
    
    
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </h2><!-- end of EMPLOYMENT RECORD ACCORDION -->

                    </div>

                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>