<div class="modal fade" id="eEditEmployee" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Employee Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form class="needs-validation" id="eicEdit" novalidate enctype="multipart/form-data">
                    <div class="accordion-item">

                        <!--================== PERSONAL DATA ACCORDION =========================-->
                        <h2 class="accordion-header" id="personalDataHeading">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#personalDataCollapse" aria-expanded="true" >
                                Personal Data
                            </button>
                            <div class="accordion-item">
                                <div id="personalDataCollapse" class="collapse " data-bs-parent="#personalDataAccordion">
                                    <div class="accordion-body">
                                        <div class="tab-content" id="myTabContent">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <label style="font-size: 0.875rem;">Name</label>
                                                    <input type="text" class="form-control " id="eieName" placeholder="Name" value="Luke">
                                                </div>
                                                <div class="col-4">
                                                    <label for="eiJob" style="font-size: 0.875rem;">Job</label>
                                                    <input type="text" class="form-control" id="eieJob" placeholder="Job" value="Intern">
                                                </div>
                                            </div>
                                            <div class="input-group my-3 eiAddress">
                                                <span class="input-group-text">Address</span>
                                                <input id="eieAddress" type="text" class="form-control eiAddress" value="Imus">
                                                <button class="btn btn-success eiAddressAdd" type="button"><i class="bi bi-plus-square"></i></button>
                                                <button class="btn btn-danger eiAddressDelete" type="button"><i class="bi bi-trash"></i></button>
                                            </div>
                                            <div class="input-group my-3 eieContactNumber">
                                                <span class="input-group-text">Contact Number</span>
                                                <input type="number" class="form-control eiePersonalContactNumber" value=01234>
                                                <button class="btn btn-success eiContactNumberAdd" type="button"><i class="bi bi-plus-square"></i></button>
                                                <button class="btn btn-danger eiContactNumberDelete" type="button"><i class="bi bi-trash"></i></button>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-3">
                                                    <label for="eiePlaceofBirth" style="font-size: 0.875rem;">Place of Birth</label>
                                                    <input type="text" class="form-control" id="eiePlaceofBirth" placeholder="Place of Birth" value="Trece">
                                                </div>
                                                <div class="col-3">
                                                    <label for="eieDateofBirth" style="font-size: 0.875rem;">Date of Birth</label>
                                                    <input type="date" class="form-control" id="eieDateofBirth" placeholder="Date of Birth" value="2001-01-01">
                                                </div>
                                                <div class="col-2">
                                                    <label for="eieAge" style="font-size: 0.875rem;">Age</label>
                                                    <input type="number" class="form-control" id="eieAge" placeholder="Age" value=23>
                                                </div>
                                                
                                                <div class="col-2">
                                                    <label for="eieHeight" style="font-size: 0.875rem;">Height</label>
                                                    <input type="number" class="form-control" id="eieHeight" placeholder="Height" value=164>
                                                </div>
                                                <div class="col-2">
                                                    <label for="eieWeight" style="font-size: 0.875rem;">Weight</label>
                                                    <input type="number" class="form-control" id="eieWeight" placeholder="Weight" value=59>
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-3">
                                                    <label for="eieReligion" style="font-size: 0.875rem;">Religion</label>
                                                    <input type="text" class="form-control" id="eieReligion" placeholder="Religion" value="Christian">
                                                </div>
                                                <div class="col-3">
                                                    <label for="eieCitizenship" style="font-size: 0.875rem;">Citizenship</label>
                                                    <input type="text" class="form-control" id="eieCitizenship" placeholder="Citizenship" value="Filipino">
                                                </div>
                                                <div class="col-3">
                                                    <label for="eieCivilStatus" style="font-size: 0.875rem;">Civil Status</label>
                                                    <select class="form-control" id="eieCivilStatus">
                                                        <option value="">Select status</option>
                                                        <option value="Single" selected>Single</option>
                                                        <option value="Married">Married</option>
                                                        <option value="Divorced">Divorced</option>
                                                        <option value="Widowed">Widowed</option>
                                                    </select>
                                                </div>
                                                <div class="col-3">
                                                    <label for="eieGender" style="font-size: 0.875rem;">Gender</label>
                                                    <select class="form-control" id="eieGender">
                                                        <option value="">Select Gender</option>
                                                        <option value="Male" selected>Male</option>
                                                        <option value="Female">Female</option>
                                                        <option value="Other">Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-5">
                                                    <label for="eieSpouse" style="font-size: 0.875rem;">Spouse</label>
                                                    <input type="text" class="form-control" id="eieSpouse" placeholder="Spouse" value="Mia">
                                                </div>
                                            </div>
                                            <div class="input-group my-3 eieChildren">
                                                <span class="input-group-text">Children</span>
                                                <input id="eieChildrenName" type="text" class="form-control eieChildrenName" value="Matt">
                                                <button class="btn btn-success eiChildrenAdd" type="button"><i class="bi bi-plus-square"></i></button>
                                                <button class="btn btn-danger eiChildrenDelete" type="button"><i class="bi bi-trash"></i></button>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <label for="eieFatherName" style="font-size: 0.875rem;">Father's Name</label>
                                                    <input type="text" class="form-control" id="eieFatherName" placeholder="Father's name" value="Anjon">
                                                </div>
                                                <div class="col-4">
                                                    <label for="eieFatherOccupation" style="font-size: 0.875rem;">Occupation</label>
                                                    <input type="text" class="form-control" id="eieFatherOccupation" placeholder="Occupation" value="Salesman">
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <label for="eieMotherName" style="font-size: 0.875rem;">Mother's Name</label>
                                                    <input type="text" class="form-control" id="eieMotherName" placeholder="Mother's Name" value="Marites">
                                                </div>
                                                <div class="col-4">
                                                    <label for="eieMotherOccupation" style="font-size: 0.875rem;">Occupation</label>
                                                    <input type="text" class="form-control" id="eieMotherOccupation" placeholder="Occupation" value="BPO agent">
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-9">
                                                    <label for="eieParentAddress" style="font-size: 0.875rem;">Parent's Address</label>
                                                    <input type="text" class="form-control" id="eieParentAddress" placeholder="Parent's Address" value="Imus">
                                                </div>
                                                <div class="col-3">
                                                    <label for="eieParentContactNumber" style="font-size: 0.875rem;">Contact number</label>
                                                    <input type="number" class="form-control" id="eieParentContactNumber" placeholder="Contact number" value=09260283410>
                                                </div>
                                            </div>

                                            <div class="input-group my-3 eieEmergency">
                                                <span class="input-group-text">Emergency Contact</span>
                                                <input  type="text" class="form-control eieeName" placeholder="Name" value="Pia">
                                                <input  type="text" class="form-control eieeAddress" placeholder="Address" value="Bacoor">
                                                <input  type="number" class="form-control eieeContactNumber" placeholder="Contact Number" value=09260283410>
                                                <input  type="text" class="form-control eieeRelationship" placeholder="Relationship" value="Kabet">
                                                <button class="btn btn-success eiContactNumberAdd" type="button"><i class="bi bi-plus-square"></i></button>
                                                <button class="btn btn-danger eiContactNumberDelete" type="button"><i class="bi bi-trash"></i></button>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </h2><!-- end of PERSONAL DATA ACCORDION -->

                        <!--================== EDUCATIONAL BACKGROUND ACCORDION =========================-->
                        <h2 class="accordion-header" id="educationalBackgroundHeading">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#educationalBackgroundCollapse" aria-expanded="false" aria-controls="educationalBackgroundCollapse">
                                Educational Background
                            </button>
                            <div class="accordion-item">
                                <div id="educationalBackgroundCollapse" class="collapse " data-bs-parent="#profileInformationAccordion">
                                    <div class="accordion-body">
                                        <div class="tab-content" id="myTabContent">
    
                                            <div class="row align-items-center">
                                                <div class="col-4">
                                                    <label for="eiElementaryName" style="font-size: 0.875rem;">Elementary</label>
                                                    <input type="text" class="form-control" id="eieElementaryName" placeholder="School Name"value="Elem School">
                                                </div>
                                                <div class="col-4">
                                                    <label for="eiElementaryAddress" style="font-size: 0.875rem;">Address</label>
                                                    <input type="text" class="form-control" id="eieElementaryAddress" placeholder="Address"value="Elem School address">
                                                </div>
                                                <div class="col-2">
                                                    <label for="eiElemStart" style="font-size: 0.875rem;">Year Start</label>
                                                    <input type="date" class="form-control" id="eiElemStart" placeholder="Year Start" value="2010-01-01">
                                                </div>
                                                <div class="col-2">
                                                    <label for="eiElemEnd" style="font-size: 0.875rem;">Year End</label>
                                                    <input type="date" class="form-control" id="eiElemEnd" placeholder="Year End" value="2015-01-01">
                                                </div>
                                            </div>
    
                                            <div class="row align-items-center">
                                                <div class="col-4">
                                                    <label for="eiJuniorHighSchoolName" style="font-size: 0.875rem;">Junior Highschool</label>
                                                    <input type="text" class="form-control" id="eiJuniorHighSchoolName" placeholder="School Name"value="Junior High School">
                                                </div>
                                                <div class="col-4">
                                                    <label for="eiJuniorHighSchoolAddress" style="font-size: 0.875rem;">Address</label>
                                                    <input type="text" class="form-control" id="eieJuniorHighSchoolAddress" placeholder="Address"value="Junior Highschool address">
                                                </div>
                                                <div class="col-2">
                                                    <label for="eieJuniorHighStart" style="font-size: 0.875rem;">Year Start</label>
                                                    <input type="date" class="form-control" id="eieJuniorHighStart" placeholder="Address" value="2015-01-01">
                                                </div>
                                                <div class="col-2">
                                                    <label for="eieJuniorHighEnd" style="font-size: 0.875rem;">Year End</label>
                                                    <input type="date" class="form-control" id="eieJuniorHighEnd" placeholder="Address" value="2019-01-01">
                                                </div>
                                            </div>
    
                                            <div class="row align-items-center">
                                                <div class="col-4">
                                                    <label for="eiSeniorHighSchoolName" style="font-size: 0.875rem;">Senior Highschool</label>
                                                    <input type="text" class="form-control" id="eieSeniorHighSchoolName" placeholder="School Name"value="Junior High School">
                                                </div>
                                                <div class="col-4">
                                                    <label for="eiSeniorHighSchoolAddress" style="font-size: 0.875rem;">Address</label>
                                                    <input type="text" class="form-control" id="eieSeniorHighSchoolAddress" placeholder="Address"value="Senior Highschool address">
                                                </div>
                                                <div class="col-2">
                                                    <label for="eieSeniorHighStart" style="font-size: 0.875rem;">Year Start</label>
                                                    <input type="date" class="form-control" id="eieSeniorHighStart" placeholder="Address" value="2019-01-01">
                                                </div>
                                                <div class="col-2">
                                                    <label for="eieSeniorHighEnd" style="font-size: 0.875rem;">Year End</label>
                                                    <input type="date" class="form-control" id="eieSeniorHighEnd" placeholder="Address" value="2021-01-01">
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-4">
                                                    <label for="eiCollegeName" style="font-size: 0.875rem;">College</label>
                                                    <input type="text" class="form-control" id="eieCollegeName" placeholder="School Name"value="Sti dasma">
                                                </div>
                                                <div class="col-4">
                                                    <label for="eiCollegeAddress" style="font-size: 0.875rem;">Address</label>
                                                    <input type="text" class="form-control" id="eieCollegeAddress" placeholder="Address" value="Dasma">
                                                </div>
                                                <div class="col-2">
                                                    <label for="eiCollegeStart" style="font-size: 0.875rem;">Year Start</label>
                                                    <input type="date" class="form-control" id="eiCollegeStart" placeholder="Address" value="2021-01-01">
                                                </div>
                                                <div class="col-2">
                                                    <label for="eiCollegeEnd" style="font-size: 0.875rem;">Year End</label>
                                                    <input type="date" class="form-control" id="eiCollegeEnd" placeholder="Address" value="2025-01-01">
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-12">
                                                    <label for="eiCourseName" style="font-size: 0.875rem;">College Course</label>
                                                    <input type="text" class="form-control" id="eieCourseName" placeholder="School Name" value="BSIT">
                                                </div>
                                            </div>
                                             
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </h2><!-- end of EDUCATIONAL BACKGROUND ACCORDION -->

                        <!--================== EMPLOYMENT RECORD ACCORDION =========================-->
                        <h2 class="accordion-header" id="employeeRecordHeading">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#employeeRecordCollapse" aria-expanded="false" aria-controls="educationalBackgroundCollapse">
                                Employee Record
                            </button>
                            <div class="accordion-item">
                                <div id="employeeRecordCollapse" class="collapse " data-bs-parent="#profileInformationAccordion">
                                    <div class="accordion-body">
                                        <div class="tab-content justify-content-evenly" id="myTabContent">
                                            
                                            <div class="input-group my-3 eiEmploymentRecord">
                                                <span class="input-group-text">Employment Record</span>
                                                <input id="eierCompanyName" type="text" class="form-control eierCompanyName" placeholder="Company Name"value="Mcdo">
                                                <input id="eierPosition" type="text" class="form-control eierPosition" placeholder="Position"value="Service crew">
                                                <input id="eierFrom" type="date" class="form-control eierFrom" placeholder="Year Start" value="2021-01-01">
                                                <input id="eierTo" type="date" class="form-control eierTo" placeholder="Year End" value="2021-01-01">
                                                <button class="btn btn-success eiEmploymentRecordAdd" type="button"><i class="bi bi-plus-square"></i></button>
                                                <button class="btn btn-danger eiEmploymentRecordDelete" type="button"><i class="bi bi-trash"></i></button>
                                            </div>
    
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </h2><!-- end of EMPLOYMENT RECORD ACCORDION -->

                        <!--================== CHARACTER REFERENCE ACCORDION =========================-->
                        <h2 class="accordion-header" id="characterReferenceHeading">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#characterReferenceCollapse" aria-expanded="false" aria-controls="educationalBackgroundCollapse">
                                Character Reference
                            </button>
                            <div class="accordion-item">
                                <div id="characterReferenceCollapse" class="collapse " data-bs-parent="#profileInformationAccordion">
                                    <div class="accordion-body">
                                        <div class="tab-content" id="myTabContent">
    
                                            <div class="input-group my-3 eiCharacterReference">
                                                <span class="input-group-text">Character Reference</span>
                                                <input id="eiReferenceName" type="text" class="form-control eiReferenceName" placeholder="Name" value="Andre">
                                                <input id="eiReferenceOccupation" type="text" class="form-control eiReferenceOccupation" placeholder="Occupation" value="Quality Assurance">
                                                <input id="eiReferenceContact" type="number" class="form-control eiReferenceContact" placeholder="Contact"value="09123456789">
                                                <button class="btn btn-success eiCharacterReferenceAdd" type="button"><i class="bi bi-plus-square"></i></button>
                                                <button class="btn btn-danger eiCharacterReferenceDelete" type="button"><i class="bi bi-trash"></i></button>
                                            </div>
    
    
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </h2><!-- end of EMPLOYMENT RECORD ACCORDION -->

                    </div>

                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>