<!-- tii = Transaction Item Information -->
<div class="modal fade" id="tiiAddModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Item Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- tihvbpa = Transaction Inhouse View Billing Parts Add -->
                <table id="tiiTable">
                    <!-- <thead>
                        <th data-visible="false" >Id</th>
                        <th>Description</th>
                        <th>Brand</th>
                        <th>Model</th>
                    </thead> -->
                </table>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- tiis = Transaction Item Information Serial -->
<div class="modal fade" id="tiisAddModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Serial List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="tiisAdd" novalidate enctype="multipart/form-data">
                    <div class="border p-2">
                        <h6 class="card-title">Item Information</h6>
                        <div class="row text-center">
                            <div class="col-4">
                                <label for="tiisBrand" class="fw-bold">Brand:</label>
                                <h6 id="tiisBrand"></h6>
                            </div>
                            <div class="col-4">
                                <label for="tiisModel" class="fw-bold">Model:</label>
                                <h6 id="tiisModel"></h6>
                            </div>
                            <div class="col-4">
                                <label for="tiisDescription" class="fw-bold">Description:</label>
                                <h6 id="tiisDescription"></h6>
                            </div>
                        </div>
                    </div>
                    
                    <table id="tiisTable">
                        <!-- <thead>
                            <th data-visible="false">Id</th>
                            <th>Serial</th>
                            <th>Description</th>
                        </thead> -->
                    </table>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#">Add Serial</button>
                        <button type="button" class="btn btn-secondary ms-auto" data-bs-toggle="modal" data-bs-target="#tihvbiiAddModal">Close</button>
                        <button type="submit" class="btn btn-success">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
