<%- include("../../partials/header") %>
<%- include("../../partials/header-sidebar") %>
    <main id="main" class="main">

        <div class="pagetitle">
        <h1>In-House</h1>
        <nav>
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/transaction">Transactions</a></li>
            <li class="breadcrumb-item active">Project</li>
            </ol>
        </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="card">
                <div class="card-body">
                    <!-- Floating Labels Form -->
                    <a href="/transaction/inhouse/view/aa/print">Print</a>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group m-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="tpvJobOrderLbl">Job Order</span>
                                </div>
                                <input id="tpvJobOrder" type="text" class="form-control" aria-describedby="tpvJobOrderLbl">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group m-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="tpvRecieveDateLbl">Recieve Date</span>
                                </div>
                                <input id="tpvRecieveDate" type="date" class="form-control" aria-describedby="tpvRecieveDateLbl">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-group m-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="tpvClientNameLbl">Client Name</span>
                                </div>
                                <input id="tpvClientName" type="text" class="form-control" aria-describedby="tpvClientNameLbl">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group m-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="tpvDeviceLbl">Device</span>
                                </div>
                                <input id="tpvDevice" type="text" class="form-control" aria-describedby="tpvDeviceLbl">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group m-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="tpvSerialLbl">Serial Number</span>
                                </div>
                                <input id="tpvSerial" type="text" class="form-control" aria-describedby="tpvSerialLbl">
                            </div>
                        </div>
                        <!-- <div class="col-lg-12 m-3"> -->
                            Notes
                            <div id="tpCreateNotes" class="quill-editor-full">
                            </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </section>

    </main><!-- End #main -->
<%- include("../../partials/script") %>
<script src="../../../assets/js/transaction/inhouse/view.js"></script>
<%- include("../../partials/footer") %>