<!-- tihvie = Transaction In House View Image Edit -->
<div class="modal fade" id="tihviEditModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Images</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="tihviEdit" novalidate enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-8">
                            <input type="hidden" id="tihvieId">
                            <div class="mb-3">
                                <label for="tihviImageTitle" class="form-label">Image Title</label>
                                <input type="text" class="form-control" id="tihvieImageTitle" required>
                            </div>
                            <div class="input-group mb-3">
                                <input type="file" class="form-control" id="tihvieImage" accept="image/*">
                            </div>
                            <div class="mb-3">
                                <label for="tihviDescription" class="form-label">Description</label>
                                <textarea class="form-control" id="tihvieDescription" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <h6 class="card-text ms-3 mt-3">Preview</h6>
                                <div class="card-body">
                                    <img id="tihviePreviewModal" src="/assets/img/no-image.jpg" class="img-thumbnail w-auto">
                                </div>  
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm">Update image</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
        