<!-- =========================================================== -->
<!-- CRUD Client Type -->
<!-- =========================================================== -->

<!-- Create client type -->
<div class="modal fade" id="modCrtClntType" tabindex="-1" aria-labelledby="modCrtClntTypeLbl" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modCrtClntTypeLbl">Add Client Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="crtClntType" class="needs-validation" novalidate>
                    <div class="row g-3 align-items-center">
                        <div class="col-3">
                            <label for="crtClntTypeName" class="col-form-label">Client Type: </label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="crtClntTypeName" class="form-control form-control-sm" required>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="form-check form-switch">
                            <input class="form-check-input" name="crtClntTypeWConPer" type="radio" value="true" required>
                            <label class="form-check-label">With contact person</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" name="crtClntTypeWConPer" type="radio" value="false" required>
                            <label class="form-check-label">Without contact person</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Client Type -->
<div class="modal fade" id="modEdtClntType" tabindex="-1" aria-labelledby="modEdtClntTypeLbl" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modEdtClntTypeLbl">Edit Client Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edtClntType" class="needs-validation" novalidate>
                    <input type="hidden" id="edtClntTypeId">
                    <div class="row g-3 align-items-center">
                        <div class="col-3">
                            <label for="edtClntTypeName" class="col-form-label">Client Type: </label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="edtClntTypeName" class="form-control form-control-sm" required>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="form-check form-switch">
                            <input class="form-check-input" name="edtClntTypeWConPer" type="radio" value="true" required>
                            <label class="form-check-label">With contact person</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" name="edtClntTypeWConPer" type="radio" value="false" required>
                            <label class="form-check-label">Without contact person</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Client Type -->

<!-- =========================================================== -->
<!-- CRUD Client Contact Type -->
<!-- =========================================================== -->
<!-- Create Client Contact Type -->
<div class="modal fade" id="modCrtContType" tabindex="-1" aria-labelledby="modCrtContTypeLbl" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modCrtContTypeLbl">Add Client Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="crtContType" class="needs-validation" novalidate>
                    <div class="row g-3 align-items-center pb-1">
                        <div class="col-3">
                        <label for="crtContTypeNm" class="col-form-label">Client Type: </label>
                        </div>
                        <div class="col-9">
                        <input type="text" id="crtContTypeNm" class="form-control form-control-sm" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Client Contact Type -->

<!-- Delete Client Contact Type -->

<!-- =========================================================== -->
<!-- CRUD Client Device Type -->
<!-- =========================================================== -->
<!-- Create Device Type -->
<div class="modal fade" id="modCrtDevType" tabindex="-1" aria-labelledby="modCrtDevTypeLbl" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modCrtDevTypeLbl">Add Device Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="crtDevType" class="needs-validation" novalidate>
                    <div class="row g-3 align-items-center pb-1">
                        <div class="col-3">
                            <label for="crtDevTypeNm" class="col-form-label">Device Type: </label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="crtDevTypeNm" class="form-control form-control-sm" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Client Device Type -->

<!-- Delete Client Device Type -->

<!-- =========================================================== -->
<!-- CRUD Client Device Brand -->
<!-- =========================================================== -->
<!-- Create Device Band -->
<div class="modal fade" id="modCrtDevBrand" tabindex="-1" aria-labelledby="modCrtDevBrandLbl" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modCrtDevBrandLbl">Add Device Brand</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="crtDevBrand" class="needs-validation" novalidate>
                    <div class="row g-3 align-items-center pb-1">
                        <div class="col-3">
                            <label for="crtDevBrandNm" class="col-form-label">Brand: </label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="crtDevBrandNm" class="form-control form-control-sm" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Client Device Brand -->

<!-- Delete Client Device Brand -->

<!-- =========================================================== -->
<!-- CRUD Client Device Part Type -->
<!-- =========================================================== -->
<!-- Create Device Part Type -->
<div class="modal fade" id="modCrtDevPartType" tabindex="-1" aria-labelledby="modCrtDevPartTypeLbl" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modCrtDevPartTypeLbl">Add Device Part Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="crtDevPartType" class="needs-validation" novalidate>
                    <div class="row g-3 align-items-center pb-1">
                        <div class="col-3">
                            <label for="crtDevPartTypeNm" class="col-form-label">Part Name: </label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="crtDevPartTypeNm" class="form-control form-control-sm" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Client Device Part Type -->

<!-- Delete Client Device Part Type -->