<div class="modal fade" id="tsCreateModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Sales Transaction</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="tsCreate" novalidate enctype="multipart/form-data">
                    <div class="mb-3 d-flex justify-content-between">
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="tscJobOrderNumber" placeholder="Job Order Number" required>
                                <label for="tscJobOrderNumber">*Job Order Number</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="date" class="form-control" id="tscRecieveDate" placeholder="Recieve Date" required>
                                <label for="tscRecieveDate">*Receive Date</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="tscClientName" aria-label="Client Name" required>
                                <option>Please select</option>
                            </select>
                            <label for="tscClientName">*Client Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="tscDevice" placeholder="Device" required>
                                <label for="tscDevice">*Device (Brand / Model)</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="tscSerial" placeholder="Serial Number" required>
                                <label for="tscSerial">*Serial Number</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <p class="my-3">Notes</p>
                            <!-- <div id="tscNotes" class="quill-editor-full"> -->
                            <div id="tscNotes">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
        