<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Service Report</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
        <!-- bootstrap-table -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.0/dist/bootstrap-table.min.css">
   
        <style>
            section {
                display: none;
            }
           
            @media print {
                .container {
                    display: none;
                }

                div {
                    page-break-inside: avoid;
                }
                tr {
                    background-color: #f8f9fa !important; /* Light gray background for table rows */
                    -webkit-print-color-adjust: exact; /* Ensures colors are printed */
                    color-adjust: exact;
                }
                section {
                    display: flex;
                    flex-direction: column;
                    min-height: 100vh;
                    font-size: 10px;
                    margin: 0;
                    padding: 0;
                }
                footer {
                    margin-top: auto;
                    position: fixed;
                    bottom: 0;
                    width: 100%;
                    background-color: white;
                }


                /* print header */
                .print-header {
                    background-color: white;
                    text-align: center;
                    padding: 10px 0;
                    border-bottom: 1px solid #ddd;
                }
                .print-header img {
                    width: 100px;
                }
    
                .print-header h1,
                .print-header p {
                    margin: 0;
                    font-size: 10px;
                }
    
                .print-header + * {
                    margin-top: 10px; /* Adjust to match header height */
                }
                /* end of print header */
                .terms-conditions strong ol {
                    text-align: left;
                    font-size: 8px;
                    margin-top: 10px;
                }
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
                <h2>Service report print</h2>
                <div class="d-flex">
                    <a id="tihvpRetrun" class="btn btn-success mx-1">Go back</a>
                    <a id="tihvpPrint" class="btn btn-info mx-1">Print</a>
                </div>
                <img src="/assets/img/not-found.svg" style="width: 50vw; height: 75vh; object-fit: cover;" alt="Page Not Found">
            </div>
        </div>
        
        <section>
            <div class="print-header">
                <img src="/assets//img//logo5.png" alt="Logo">
                <h1>Arnaldo St. Mangahan, Gen. Trias Cavite</h1>
                <p>09629451425 / 09204271113 (046) 514 1514</p>
            </div>
    
            <!-- service infromation -->
            <div class="service-report pb-3">
                <h1 class= "small text-center fw-bold fs-6" >Service Report</h1>
                <div class="details">
                    <table class="table table-sm table-borderless"  id="tihvpInitialReportTable">
                        <tr>
                            <th class="small">Job Order:</th>
                            <td id="tihvpJobOrder"></td>
                            <th class="small">Receive Date:</th>
                            <td id="tihvpReceivedDate"></td>
                        </tr>
                        <tr>
                            <th class="small">Device:</th>
                            <td id="tihvpDevice"></td>
                            <th class="small">Serial Number:</th>
                            <td id="tihvpSerialNumber"></td>
                        </tr>
                        <tr>
                            <th class="small">Client Name:</th>
                            <td class="tihvpCLientName"></td>
                            <th class="small">Contact Details:</th>
                            <td id="tihvpContactDetails"></td>
                        </tr>
                        <tr>
                            <th class="small">Address:</th>
                            <td id="tihvpAddress"></td>
                            <th class="small">Email:</th>
                            <td id="tihvpEmail"></td>
                        </tr>
                        <tr>
                            <th class="small">Technical Notes:</th>
                        </tr>
                    </table>
                    <div id="tihvpNotes"></div>
    
                </div>
            </div>
            <!-- images support -->
            <div id="tihvpImages">
    
            </div>
            <!-- billing -->
            <div class="py-3">
                <table id="tihvpBilling">
                    <thead>
                        <th data-field="Description">Description</th>
                        <th data-field="Quantity">Quantity</th>
                        <th data-field="UnitPrice">Unit Price</th>
                        <th data-field="Total">Total</th>
                    </thead>
                </table>
            </div>
            <!-- Terms and Conditions -->
            <div class="terms-conditions small py-3">
                <h6>Terms and Conditions</h6>
                <ol class="small">
                    <li>
                        <strong>DISCLAIMER</strong>
                        <ol type="A">
                            <li>DJV ITS will only perform and provide IT services, repairs and upgrades as requested/approved by the customer. DJV ITS will conduct honest, reasonable and considerate services. The goal is to provide the highest quality of service and support, but specific results cannot be guaranteed.</li>
                            <li>Computer service / repairs are provided as a service. There may be circumstances under which your computer can not be repaired. It will have to rebuilt or upgraded. (Example: Age of PC, repair / replacement parts, obsolete memory chips, motherboards etc.)</li>
                            <li>The length of time required to service / repair your computer cannot be predicted. Estimated date will be 2-3 business Days, extension will be requested on case to case basis (Example: Delivery time of part replacement, Curing of adhesives, printer head debugging, etc.)</li>
                            <li>You understand that in the process of working on your computer equipment, there is a potential for data loss. You agree that you have made the necessary backups of your data so that, in the event of such loss, the data can be restored. DIVITS will not be responsible for data loss.</li>
                            <li>You authorize the technical(s) providing the service or repair to install anti-virus and any other necessary software on your computer to perform required services. Other software will be request or installed by the user.</li>
                        </ol>
                    </li>
                    <li>
                        <strong>BILLING TERMS</strong>
                        <ol type="A">
                            <li>IT services / repair are billed as stated on per device service order.</li>
                            <li>An estimate of cost for work will be provided before performing IT services / repairs. Estimates are not guaranteed.</li>
                            <li>In the case that there is an unforeseen deviation, beyond the above estimated amount, every effort will be made to contact you to inform you of the situation and receive authorization to continue or stop the repair.</li>
                            <li>Return to owner (RTO) when the unit is beyond repair, in that case 50% of the negotiated service charge will be applied.</li>
                            <li>Client pull-out is when the client no longer wants to continue with the repair, 100% of service charge will be applied.</li>
                        </ol>
                    </li>
                    <li>
                        <strong>PAYMENT TERMS</strong>
                        <ol type="A">
                            <li>Full Payment is due upon completion of services, upgrades or repairs.</li>
                            <li>Computer parts, hardware and/or software that are ordered or special ordered must be paid in advance or 50% of the total payable for downpayment and the remaining balance upon pickup.</li>
                        </ol>
                    </li>
                    <li>
                        <strong>LIABILITY</strong>
                        <ol type="A">
                            <li>Service(s) are provided in an effort to fix, upgrade, or otherwise repair the computer system(s) for which you request such service(s).</li>
                            <li>Your system will not be intentionally harmed. The primary goal is to fix your computer, not damage it.</li>
                            <li>DJV ITS is not liable if the device is damaged by Act of God.</li>
                            <li>DJV ITS is not liable for loss of device if it is a result of robbery and provided that a notarized Police Report or other certification is issued by DJV ITS.</li>
                            <li>Uncollected unit(s) is not taken within 90 days DJV ITS will disposed the unit(s) due to storage and repair expenses.</li>
                            <li>Every 30th, 60th and 90th day after the completion date, DJV ITS will reach out third call or text message to follow up the customer before disposal of unit is done.</li>
                        </ol>
                    </li>
                </ol>
                <p>I hereby agree on the terms and conditions above.</p>
    
                <div class="row d-flex justify-content-around ps-5">
                    <div class="col-4">
                        <p><strong>Received By:</strong></p>
                        <p><span id="tihvpRecieved"></span></p>
                    </div>
                    <div class="col-4">
                        <p><strong>Released By:</strong></p>
                        <p><span id="tihvpReleased"></span></p>
                    </div>
                    <div class="col-4">
    
                        <p><strong>Signature over printed name:</strong></p>
                        <p><span class="tihvpCLientName"></span></p>
                    </div>
                </div>
                
            </div>
        </section>
    </body>
    
    <script type="text/javascript" src="/modules/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../../../../../../assets/js/crud.js"></script>
    <!-- quill -->
    <script src="/assets/vendor/quill/quill.js"></script>
    <!-- moment -->
    <script type="text/javascript" src="/modules/moment/min/moment.min.js"></script>
      <!-- bootstrap-table -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.0/dist/bootstrap-table.min.js"></script>
    <!-- main -->
    <script src="../../../../../../assets/js/main.js"></script> 
    <script src="../../../../../../assets/js/transaction/inhouse/modal/dropDown/reports/serviceReport.js"></script>
    <script src="../../../../../../assets/js/transaction/inhouse/modal/billing/billingSummary.js"></script>
    
    </html>