<!-- Prefix Legend -->
<!-- isaws = Inventory Supply Add With Serial-->

<!-- with serial modal -->
<div class="modal fade" id="isaWithSerialModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Supply</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- isaw - inventory supply add with serial -->
                <form class="needs-validation" id="isawsAddSerialForm" novalidate enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Serials:</h6>
                            <div class="input-group input-group-sm mb-3 isawsSerialGroup">
                                <span class="input-group-text">Serial</span>
                                <input type="text" class="form-control isawsSerial" aria-label="Brand" required>
                                <button class="btn btn-success isawsAddSerial" type="button">
                                    <i class="bi bi-plus-circle"></i>
                                </button>
                                <button class="btn btn-danger isawsRemoveSerial" type="button">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h6>Supplier Information:</h6>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="isawsProductCodeLbl">Product Code</span>
                                <input type="text" class="form-control" id="isawsProductCode" aria-label="Brand" aria-describedby="isawsProductCodeLbl" disabled>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="isawsNameLbl">Name</span>
                                <input type="text" class="form-control" id="isawsName" aria-label="Brand" aria-describedby="isawsNameLbl" required>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="isawsAddressLbl">Address</span>
                                <input type="text" class="form-control" id="isawsAddress" aria-label="Brand" aria-describedby="isawsAddressLbl" required>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="isawsORLbl">OR #</span>
                                <input type="text" class="form-control" id="isawsOR" aria-label="Brand" aria-describedby="isawsORLbl" required>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="isawsORDateLbl">OR Date</span>
                                <input type="date" class="form-control" id="isawsORDate" aria-label="Brand" aria-describedby="isawsORDateLbl" required>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="isawsWarrantyLbl">Warranty</span>
                                <input type="text" class="form-control" id="isawsWarranty" aria-label="Brand" aria-describedby="isawsWarrantyLbl" required>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="isawsNotesLbl">Notes</span>
                                <input type="text" class="form-control" id="isawsNotes" aria-label="Brand" aria-describedby="isawsNotesLbl">
                            </div>
                            <h6>Accounting Information:</h6>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="isawsUnitCostLbl">Unit Cost</span>
                                <input type="number" class="form-control" id="isawsCost" aria-label="Brand" aria-describedby="isawsUnitCostLbl" required>
                            </div>
                        </div>
                    </div>
                    

                    
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- without serial modal -->
<!-- prefix isawos - inventory supply add without serial -->
<div class="modal fade" id="isaWithoutSerialModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Supply</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="isawosAddSupplyForm" novalidate enctype="multipart/form-data">
                    <h6>Supplier Information:</h6>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="isawosProductCodeLbl">Product Code</span>
                        <input type="text" class="form-control" id="isawosProductCode" aria-label="Brand" aria-describedby="isawosProductCodeLbl" disabled>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="isawosNameLbl">Name</span>
                        <input type="text" class="form-control" id="isawosName" aria-label="Brand" aria-describedby="isawosNameLbl" required>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="isawosAddressLbl">Address</span>
                        <input type="text" class="form-control" id="isawosAddress" aria-label="Brand" aria-describedby="isawosAddressLbl" required>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="isawosORLbl">OR #</span>
                        <input type="text" class="form-control" id="isawosOR" aria-label="Brand" aria-describedby="isawosORLbl" required>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="isawosORDateLbl">OR Date</span>
                        <input type="date" class="form-control" id="isawosORDate" aria-label="Brand" aria-describedby="isawosORDateLbl" required>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="isawosWarrantyLbl">Warranty</span>
                        <input type="text" class="form-control" id="isawosWarranty" aria-label="Brand" aria-describedby="isawosWarrantyLbl" required>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="isawosNotesLbl">Notes</span>
                        <input type="text" class="form-control" id="isawosNotes" aria-label="Brand" aria-describedby="isawosNotesLbl">
                    </div>
                    <h6>Accounting Information:</h6>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="isawosUnitCostLbl">Unit Cost</span>
                        <input type="number" class="form-control" id="isawosCost" aria-label="Brand" aria-describedby="isawosUnitCostLbl" required>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="isawosQuantityLbl">Quantity</span>
                        <input type="number" class="form-control" id="isawosQuantity" aria-label="Brand" aria-describedby="isawosQuantityLbl" required>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

