<!-- dvs = device view serial -->
<div class="modal fade" id="dvsCreateModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Item Information Serial</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="dvsCreate" novalidate enctype="multipart/form-data">
                    <div class="row g-3 mb-1 align-items-center">
                        <!-- Retail Price -->
                        <div class="col-auto">
                            <label for="dicSerial" class="col-form-label">Serial number</label>
                        </div>
                        <div class="col-4">
                            <input type="text" id="dicSerial" class="form-control" required>
                        </div>
                        <!-- Add Button -->
                        <div class="col-auto">
                            <a id="dvsAdd" class="btn btn-success"><i class="bi bi-plus"></i>Add</a>
                        </div>
                    </div>
                    <div class="mb-1">
                        <table id="dvsSerialTable">
                            <thead>
                                <tr>
                                    <th data-field="deviceinformation" data-visible="false">Id</th>
                                    <th data-field="Serial">Serial</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


