<%- include("../../partials/header") %>
<%- include("../../partials/header-sidebar") %>
    <main id="main" class="main">

        <div class="pagetitle">
        <h1>Create transaction</h1>
        <nav>
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/transaction">Transactions</a></li>
            <li class="breadcrumb-item"><a href="/transaction/inhouse">In-House</a></li>
            <li class="breadcrumb-item active">Create In-House Transaction</li>
            </ol>
        </nav>
        </div><!-- End Page Title -->
        <section class="section">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">In-house form</h5>
        
                    <!-- Floating Labels Form -->
                    <form class="row g-3 d-flex justify-content-between needs-validation" id="tihCreate" novalidate enctype="multipart/form-data">
                        <div class="col-md-4">
                            <div class="form-floating">
                            <input type="text" class="form-control" id="tihCreateJobOrderNumber" placeholder="Job Order Number" required>
                            <label for="tihCreateJobOrderNumber">*Job Order Number</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                            <input type="date" class="form-control" id="tihCreateRecieveDate" placeholder="Recieve Date" required>
                            <label for="tihCreateRecieveDate">*Recieve Date</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="tihCreateClientName" aria-label="Client Name" required>
                                <option>Please select</option>
                                </select>
                                <label for="tihCreateClientName">*Client Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="tihCreateDevice" placeholder="Device" required>
                                <label for="tihCreateDevice">*Device (Brand / Model)</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="tihCreateSerial" placeholder="Serial Number" required>
                                <label for="tihCreateSerial">*Serial Number</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <p>Notes</p>
                                <div id="tihCreateNotes" class="quill-editor-full">
                                
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>
                    </form><!-- End floating Labels Form -->
                </div>
            </div>
        </section>
    </main><!-- End #main -->
<%- include("../../partials/script") %>
<script src="/assets/js/transaction/inhouse/create.js"></script>
<%- include("../../partials/footer") %>