<!-- tihvrel = Transaction in house view release -->
<div class="modal fade" id="tihvrelModal" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Release Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="tihvrelUpdate" novalidate enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="tihvrelDate" class="form-label">Date</label>
                        <input type="date" class="form-control" id="tihvrelDate" required>
                    </div>
                    <div class="mb-3">
                        <label for="tihvrelTechnician" class="form-label">Technician</label>
                        <select class="form-select" id="tihvrelTechnician" aria-label="Floating label select example">
                            <option selected>Technician</option>
                            <option value="1">Deancent</option>
                            <option value="2">Vince</option>
                            <option value="3">David</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
