<!-- legend prefix :
tihs - transaction in house supply -->
<div class="modal fade" id="tihSupplyModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Supply</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <input type="hidden" id="tihscServiceId">
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="tihscServiceNameLbl">Service Name</span>
                            <input type="text" class="form-control" id="tihscServiceName" aria-label="Brand" aria-describedby="tihscServiceNameLbl" required>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="tihscServiceDateLbl">Date</span>
                            <input type="date" class="form-control" id="tihscServiceDate" aria-label="Brand" aria-describedby="tihscServiceDateLbl" required>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="tihscServiceAmountLbl">Amount</span>
                            <input type="number" class="form-control" id="tihscServiceAmount" aria-label="Brand" aria-describedby="tihscServiceAmountLbl" required>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="tihscServiceDescriptionLbl">Description</span>
                            <textarea class="form-control" id="tihscServiceDescription" aria-label="Brand" aria-describedby="tihscServiceDescriptionLbl" required></textarea>
                        </div>
                    </div>
                    <div class="col-6">
                        <table id="tihsTable" class="table table-sm">
        
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                <button type="button" id="tihsSave" class="btn btn-primary btn-sm">Save changes</button>
            </div>
        </div>
    </div>
</div>

