<!-- legend prefix :
tihs - transaction in house supply -->
<div class="modal fade" id="tihSupplyModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Supply</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="tihSupplyTable" class="table table-sm">

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                <button type="button" id="tihsSave" class="btn btn-primary btn-sm">Save changes</button>
            </div>
        </div>
    </div>
</div>

